@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    background-color: #0e4bf1;
    border-radius: 24px 24px 0px 0px;
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #0e4bf1;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}

.text-data .job {
    font-size: 15px;
    font-weight: 400;
}

.profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0px 8px;
    text-decoration: none;
    background-color: rgb(20, 20, 129);
}

.profile-card .buttons {
    display: flex;
    align-items: cneter;
    margin: 25px;
}

.buttons .button {
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 24px;
    margin: 0px 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttons .subscribe {
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 24px;
    margin: 0px 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.2s ease;
}

.buttons .subscribe a {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
}

.buttons .button:hover {
    transform: scale(1.15);
    background-color: #0e4bf1;
}

.profile-card .analytics {
    display: flex;
    align-items: center;
    /* margin-top: 25px; */
}

.analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0px 20px;
    border-right: 2px solid #e7e7e7;
}

.data i {
    font-size: 18px;
    border-right: 6px;
}

.data:last-child {
    border-right: none;
}